.f_dropdown {
  display: flex;
  width: auto;
  position: static;
  margin-left: 34px;
  height: 100%;
  align-items: center;
}

.f_dropcontent {
  background-color: white;
  display: flex;
  justify-content: center;
  visibility: hidden;
  flex-direction: column;
  position: fixed;
  z-index: 201;
  width: auto;
  padding: 20px;
  margin-left: -30px;
  margin-right: 30px;
  border-radius: 4px;
  opacity: 0.8;
  overflow: hidden;
  transform: scaleY(0);
  top: 100px;
  transform-origin: top;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  transition-property: transform, visibility;
  transition-timing-function: cubic-bezier(0.5, 0.25, 0.015, 1);
}

.f_dropcontent a {
  text-decoration: none;
  color: #161616;
  opacity: 1;
  margin: 8px 0 8px 0;
}

.f_dropdown:hover .f_dropbtn,
.f_dropcontent a:hover {
  cursor: pointer;
  color: #ff6347;
}

.f_dropdown:hover .f_dropcontent {
  visibility: visible;
  transform: scaleY(1);
}

.f_chevron {
  width: auto;
  display: flex;
  text-align: center;
  padding: 0 10px;
  cursor: pointer;
}

.f_chevron span {
  display: flex;
  border-radius: 0.5em;
  border-top: 0.1em solid currentColor;
  height: 0.1em;
  width: 0.5em;
  top: 50%;

  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.f_chevron span:nth-child(1) {
  transform: rotate(-45deg);
}

.f_chevron span:nth-child(2) {
  transform: rotate(45deg);
  margin-left: -13px;
}

.f_dropdown:hover span:nth-child(1) {
  transform: rotate(45deg);
  border-top: 0.1em solid tomato;
}

.f_dropdown:hover span:nth-child(2) {
  transform: rotate(-45deg);
  margin-left: -12px;
  border-top: 0.1em solid tomato;
}
