.f_sidebar_media {
  background-color: white;
  display: none;
  z-index: 203;
  position: fixed;
  top: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 0;
  max-width: 375px;
  transition: 0.6s;
  overflow: hidden;
}

.f_sidebar_media_wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.f_sidebar_media_header {
  align-items: center;
  display: flex;
  flex: 0 0 53px;
  justify-content: space-between;
  width: 100%;
  background-color: #f3f3f3;
}

.f_sidebar_media_text {
  align-items: center;
  direction: ltr;
  display: flex;
  font-size: 0;
  height: 100%;
  line-height: 0;
  margin-left: 14px;
  position: relative;
}

.f_sidebar_media_himage {
  height: 23px;
}

.f_sidebar_media_x {
  height: 36px;
  width: 36px;
  cursor: pointer;
  margin-right: 14px;
}

.f_sidebar_media_body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  border-bottom: solid 1px;
}

.f_sidebar_media_body_wrapper {
  overflow: hidden;
  overflow-y: auto;
  padding: 21px 0 56px 0;
  padding-top: 0;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.f_sidebar_media_body_wrapper::-webkit-scrollbar {
  display: none;
}

.f_sidebar_media_content_header:hover p,
.f_sidebar_media_content_header:hover span,
.f_sidebar_media_content_body p:hover,
.f_sidebar_media_content_body a:hover {
  color: tomato;
}

.f_tomato {
  color: tomato;
}

.f_sidebar_media_content_header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
  border-bottom: solid 1px;
}

.f_sidebar_media_content_link {
  overflow: hidden;
  margin-left: 6px;
  cursor: pointer;
  transition: all 390ms ease-in-out;
}

.f_sidebar_media_content_link_wrapper {
  display: block;
  margin: 0 23px;
  cursor: pointer;
  height: 0px;
  transition: all 390ms ease-in-out;
}

.f_sidebar_media_content_link_wrapper:after {
  content: "";
  border-bottom: solid 1px;
}

.f_sidebar_media_content_link_end {
  color: grey;
  display: block;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  height: 0px;
  transition: all 390ms ease-in-out;
  border-bottom: 1px solid;
  padding: 15px 0 38px 14px;
}

.f_sidebar_media_a {
  text-decoration: none;
}

.f_sidebar_media_content_body {
  visibility: hidden;
  height: 0;
  opacity: 0;
  margin: 0 18px;
  transform-origin: top;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  transition-property: opacity, height;
  transition-timing-function: cubic-bezier(0.5, 0.25, 0.015, 1);
}

.f_chevron_sidebar {
  width: auto;
  display: flex;
  text-align: center;
  padding: 0 10px;
  cursor: pointer;
}

.f_chevron_sidebar span {
  display: flex;
  border-radius: 0;
  border-top: 0.125em solid;
  height: 0.1em;
  width: 0.6em;

  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.f_chevron_sidebar span:nth-child(1) {
  transform: rotate(45deg);
}

.f_chevron_sidebar span:nth-child(2) {
  transform: rotate(-45deg);
  margin-left: -1.7px;
}

.f_rotatechevron1 {
  transform: rotate(-45deg) !important;
  border-top: 0.1em solid tomato;
}

.f_rotatechevron2 {
  transform: rotate(45deg) !important;
  margin-left: -2.7px !important;
  border-top: 0.1em solid tomato;
}

.f_sidebar_media_content_header p {
  margin: 16px 0px;
}

.f_sidebar_media_content_link p {
  margin: 16px 0px;
}

.f_sidebar_media_content_link_border,
.f_sidebar_media_content_link_wrapper {
  display: contents;
}
