@import url("./header_dropdown_menu.css");
@import url("./header_sidebar.css");
@import url("./header_sidebar_media.css");

:root {
  --menu-item-offset: 0px;
}

#f_nav {
  height: fit-content;
  width: 100%;
  padding: 0;
  margin: 0;
}

[class*="f_"],
[id*="f_"] {
  font-family: ElectronicArtsDisplay;
  box-sizing: border-box;
}

.f_blackcover {
  background-color: #202020;
  position: fixed;
  z-index: 202;
  top: 0;
  height: 110%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition-property: visibility, opacity;
  transition: 0.5s cubic-bezier(0.5, 0.25, 0.015, 1);
}

#f_nav_black {
  background-color: #161616;
  height: 40px;
  top: 0;
  display: block;
  z-index: 203;
}

#f_nav_white {
  z-index: 201;
  background-color: white;
  height: 60px;
  top: 40px;
  display: flex;
  align-items: center;
}

#f_nav_black,
#f_nav_white {
  width: 100%;
  transition: 0.6s;
  position: fixed;
}

.f_nav_hidden {
  z-index: 204;
  height: 0px;
  width: 100%;
  position: fixed;
  transition: 0.6s;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  top: 40px;
  transition: all 0.5s cubic-bezier(0.5, 0.25, 0.015, 1);
}

.f_nav_hidden:hover {
  cursor: pointer;
}

#f_sidebar_icon {
  cursor: pointer;
  margin-right: -1px;
  margin-left: 16px;
}

#f_icon_anvorgesa {
  cursor: pointer;
  margin-right: -10px;
  margin-left: 13px;
}

#f_sidebar_icon {
  display: flex;
  transform: rotate(-90deg);
  transition-property: filter, scale;
  transition:
    filter 0.6s,
    scale 0.3s;
}

.f_svg_drop {
  pointer-events: none;
  height: 22px;
  width: 22px;
}

.f_anvorgesa {
  width: 20px;
  margin-left: 1px;
}

#f_icon_anvorgesa {
  display: none;
}

#f_icon_anvorgesa:hover {
  filter: invert(39%) sepia(73%) saturate(855%) hue-rotate(327deg)
    brightness(116%) contrast(101%);
}

#f_sidebar_icon:hover {
  filter: invert(39%) sepia(73%) saturate(855%) hue-rotate(327deg)
    brightness(116%) contrast(101%);
  scale: 1.5;
}

.f_nav_ul {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  z-index: 204;
}

.f_nav_li {
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  width: 40px;
  justify-content: center;
  padding: 8px;
  margin-left: 20px;
}

.f_nav_svg,
.f_nav_x {
  cursor: pointer;
  height: 22px;
  width: 22px;
}

.f_nav_svg {
  width: 18px;
  height: 18px;
}

.f_nav_svg:hover {
  filter: brightness(150%);
}

#f_eaicon:hover {
  filter: brightness(80%);
}

#f_ealogo {
  height: 32px;
  width: 32px;
}

#f_eaicon,
#f_eaimage {
  margin-right: 32px;
}

.f_nav_x {
  align-self: flex-end;
  text-align: center;
  width: 12px;
}

.f_nav_hidden > .f_nav_x {
  margin-top: 36px;
  margin-right: 34px;
  margin-bottom: -62px;
  width: 14px;
  z-index: 205;
  filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(227deg)
    brightness(99%) contrast(103%);
}

#f_eaimage {
  margin-left: 33px;
  max-height: 40px;
  height: 23px;
}

.f_username_content,
.f_help_content {
  font-family: "open-sans", Arial, Helvetica, sans-serif;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.f_username_wrapper,
.f_help_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 40%;
  height: 100%;
}

.f_username_link,
.f_help_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  width: 25%;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  min-width: 50%;
}

.f_username_link:hover,
.f_help_link:hover {
  cursor: pointer;
  transform: translateY(-6px);
}

.f_username_svg,
.f_help_svg {
  max-width: 36px;
  cursor: pointer;
  height: 54px;
  width: 36px;
}

.f_help_title {
  font-size: 18px;
  margin: 32px 0 0 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  letter-spacing: -0.08rem;
}

.f_help_wrapper {
  margin: 24px;
}

.f_help_p {
  text-align: center;
}

.f_help_text {
  color: #ff4747;
  cursor: pointer;
}

@media screen and (max-width: 1456px) {
  #f_nav_white {
    height: 56px;
  }

  .f_dropdown {
    margin-right: -15px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 1032px) {
  .f_blackcover {
    top: -10px;
  }

  #f_sidebar_icon {
    display: none;
  }

  #f_icon_anvorgesa {
    display: flex;
  }

  .f_dropdown {
    display: none;
  }

  .f_sidebar {
    display: none;
  }

  .f_sidebar_media {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .f_username_link,
  .f_help_link {
    max-width: 80%;
    flex-direction: row;
    margin-top: -20px;
    justify-content: initial;
    text-align: justify;
  }

  .f_help_wrapper {
    width: 70%;
  }

  .f_username_link .f_username_svg,
  .f_help_link .f_help_svg {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .f_eaimage_src {
    width: 110px;
    margin-left: -9px;
    margin-top: 5px;
  }

  #f_nav_white {
    height: 53px;
  }

  .f_username_wrapper {
    width: 70%;
  }

  .f_username_link .f_username_svg,
  .f_help_link .f_help_svg {
    margin-right: 10px;
  }
}

@media screen and (max-width: 544px) {
  .f_username_link,
  .f_help_link {
    width: 85%;
    margin-bottom: inherit;
    justify-content: initial;
    text-align: justify;
  }

  .f_username_wrapper {
    margin-top: 8rem;
    height: 40%;
  }

  .f_username_link {
    justify-content: center;
  }

  .f_help_link .f_help_svg {
    margin-right: 10px;
  }

  .f_help_wrapper {
    width: 70%;
    overflow: auto;
    scrollbar-width: none;
  }

  .f_help_title {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 376px) {
  .f_eaimage_src {
    width: 100px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 321px) {
  .f_eaimage_src {
    width: 90px;
    margin-top: 6px;
  }
}
