.f_sidebar {
  top: 0px;
  width: 0px;
  z-index: 203;
  height: 100%;
  position: fixed;
  transition: 0.6s;
  background-color: white;
  display: block;
  overflow-x: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  scrollbar-width: none;
  -ms-overflow-style: none;

  font-weight: bold;
}

.f_sidebar::-webkit-scrollbar {
  display: none;
}

.f_sidebar_wrapper {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 48px;
  right: -17px;
}

.f_sidebar_top {
  display: flex;
  color: #a3a3a3;
  justify-content: space-between;
  margin-bottom: 47px;
  margin-top: 47px;
}

.f_sidebar_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
}

.f_sidebar_big {
  display: block;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}

.f_sidebar_link {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
}

.f_sidebar_imgbig {
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.f_sidebar_imgbig_content_container {
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.f_sidebar_imgbig_content {
  left: 50%;
  height: 20%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: all 0.3s;
}

.f_sidebar_big:hover .f_sidebar_imgbig_content {
  transform: translate3d(-50%, -40%, 0);
  height: 22%;
}

.f_sidebar_small {
  display: inline-block;
  width: calc(50% - 16px);
  margin-top: 32px;
}

.f_sidebar_small_wrapper {
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.f_sidebar_small_link {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.f_sidebar_small_img {
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.f_sidebar_small_content_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.f_sidebar_small_img_content {
  left: 50%;
  height: 20%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: 0.4s ease;
}

.f_sidebar_small:hover .f_sidebar_small_img_content {
  transform: translate3d(-50%, -40%, 0);
  height: 22%;
}

.f_sidebar_text:hover {
  color: #ff6347;
}

#f_closebtn:hover {
  filter: invert(45%) sepia(29%) saturate(2021%) hue-rotate(327deg)
    brightness(106%) contrast(100%);
}
