body {
  margin: 0;
  width: 100%;
}
.zona-purple,
.zona-gris,
.zona-roja,
.zona-celeste {
  width: 100%;
  display: grid;
  align-items: center;
}

.zona-purple {
  margin-top: 100px;
}

/*BUTTON HEADER*/
.playButtonH {
  margin-top: 10px;
  font-family: ElectronicArtsText;
  padding: 16px 24px;
  background-color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.1s;
  font-size: 18px;
  text-wrap: nowrap;
}
.playButtonH:hover {
  box-shadow: 0 0 0 2px white;
}

/*BUTTONS FOOTER*/
.playButtonF {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background-color: transparent;
  border-radius: 3px;
  border: solid black;
  border-width: 2px;
  font-size: 20px;
  text-wrap: nowrap;
  cursor: pointer;
}
.playButtonF:hover span {
  transform: scale(0.975);
}
.playButtonF:hover {
  transform: scale(1.05);
}

/*Boton blanco zona roja*/

.playButtonFWhite {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background-color: transparent;
  border-radius: 3px;
  border: solid rgb(248, 248, 248);
  color: aliceblue;
  border-width: 2px;
  font-size: 20px;
  text-wrap: nowrap;
  cursor: pointer;
  width: 10rem;
}
.playButtonFWhite:hover span {
  transform: scale(0.975);
}
.playButtonFWhite:hover {
  transform: scale(1.05);
}

/*ZONA PURPLE*/

.imgZonaPurple {
  width: 100%;
  height: auto;
}
.imagenFormula1 {
  width: 30vw;
}
.formula1-contenido {
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-self: center;
  font-family: ElectronicArtsText;
  position: absolute;
  margin-left: 45%;
  width: 35%;
  text-wrap: wrap;
}
.ParrafoAcercate {
  font-family: ElectronicArtsText;
  font-weight: bold;
  line-height: 3rem;
  font-size: 54px;
  line-height: 3.8rem;
}
.parrafoFormula1 {
  margin-bottom: 15px;
  color: white;
}
.textoAcercate {
  line-height: 1.7rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: ElectronicArtsText;
  width: 95%;
}

/* ZONA GRIS*/

.imgZonaGris {
  width: 100%;
  height: 7.5vw;
}
.zona-gris-contenido {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}
.parrafoGris {
  width: 35%;
  font-family: ElectronicArtsText;
  font-size: 26px;
  font-weight: bold;
  color: aliceblue;
  margin-right: 20%;
}

/*ZONA ROJA*/

.imgZonaRoja {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
}
.imgZonaRojaGradient {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
}
.play-container {
  display: flex;
  position: absolute;
  margin-left: 20%;
  display: grid;
  max-width: 30vw;
  z-index: 3;
}
.playLogo {
  width: 13vw;
}
.parrafoPlay {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 12px;
  font-size: 20px;
  font-family: ElectronicArtsText;
  color: rgb(219, 218, 218);
}

/*ZONA CELESTE*/

.imgZonaCeleste {
  width: 100%;
  height: 7.5vw;
}
.zona-celeste-contenido {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}
.parrafoCeleste {
  font-family: ElectronicArtsText;
  width: 30%;
  font-size: 26px;
  font-weight: bold;
  color: #161616;
  margin-right: 20%;
}

/* MEDIA */


@media (max-width: 1456px) {
  /*Buttons*/
  .playButtonH {
    padding: 12px 24px;
  }
  .playButtonF {
    padding: 12px 24px;
  }
  .playButtonFWhite {
    padding: 12px 24px;
  }

  /*zona Azul*/
  .imgZonaPurple {
    width: 100%;
    height: 37vw;
  }
  .imagenFormula1 {
    width: 35vw;
  }
  .formula1-contenido {
    margin-left: 40%;
    width: 40%;
  }
  .ParrafoAcercate {
    font-size: 44px;
    text-wrap: nowrap;
  }
  .textoAcercate {
    font-size: 18px;
    width: 100%;
  }

  /*zona Gris*/
  .imgZonaGris {
    height: 7vw;
  }
  .parrafoGris {
    width: 40%;
    font-size: 24px;
    margin-right: 24rem;
  }

  /*zona roja*/
  .imgZonaRoja {
    height: 35vw;
  }
  .imgZonaRojaGradient {
    height: 35vw;
  }
  .play-container {
    margin-left: 10%;
    max-width: 40%;
  }
  .parrafoPlay {
    font-size: 18px;
  }
  .playLogo {
    width: 16vw;
  }

  /*zona celeste*/
  .parrafoCeleste {
    padding-right: 10%;
    font-size: 22px;
    width: 35%;
  }
}

@media (max-width: 1300px) {
  /*zona purple*/
  .formula1-contenido {
    justify-items: center;
    width: 40%;
  }
  .formula1-contenido {
    margin-left: 40%;
    width: 40%;
  }
  .ParrafoAcercate {
    font-size: 40px;
  }
  .parrafoFormula1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .textoAcercate {
    line-height: 1.4rem;
    margin-top: 0;
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  /*zona purple*/
  .ParrafoAcercate {
    text-wrap: wrap;
    line-height: 2.7rem;
  }
  .textoAcercate {
    margin-top: 10px;
  }
  /*zona gris*/
  .parrafoGris {
    width: 45%;
    margin-right: 15rem;
  }
}

@media (max-width: 1168px) {
  .imgZonaGris {
    height: 8vw;
  }
  .parrafoGris {
    font-size: 22px;
  }
  .parrafoCeleste {
    width: 40%;
    margin-right: 10rem;
  }
}

@media (max-width: 1032px) {
  .zona-purple {
    margin-top: 90px;
  }
}

@media (max-width: 1024px) {
  /*Buttons*/
  .playButtonH {
    font-size: 16px;
  }
  .playButtonF {
    font-size: 16px;
  }
  .playButtonFWhite {
    font-size: 16px;
  }

  /* Zona Azul */
  .imgZonaPurple {
    content: url("./src/home_page/media/Play-Sections/purple.crop2x1.1023w.jpg");
    width: 100%;
    height: 55vw;
  }
  .ParrafoAcercate {
    font-size: 30px;
    text-wrap: wrap;
  }
  #imagenTOTY {
    max-width: 40vw;
  }
  .imagenFormula1 {
    width: 40vw;
  }
  .formula1-contenido {
    width: 45%;
  }
  .textoAcercate {
    font-size: 16px;
  }

  /* Zona Gris */
  .imgZonaGris {
    content: url("/src/home_page/media/Play-Sections/gris.jpg.adapt.1024w.jpg");
    width: 100%;
    height: 16vw;
    object-fit: cover;
    object-position: 20% 10%;
  }
  .zona-gris-contenido {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .parrafoGris {
    width: 100%;
    margin-right: 0;
  }

  /* Zona Roja */
  .imgZonaRoja {
    content: url("/src/home_page/media/Play-Sections/recuadros2x1.1023w.jpg");
    height: 50vw;
  }
  .imgZonaRojaGradient {
    height: 50vw;
  }
  .playLogo {
    width: 25vw;
  }
  .parrafoPlay {
    font-size: 16px;
  }

  /* Zona Celeste */
  .imgZonaCeleste {
    height: 16vw;
  }
  .zona-celeste-contenido {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-left: 0;
  }
  .parrafoCeleste {
    padding-bottom: 20px;
    padding-right: 0;
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  .imgZonaGris {
    height: 25vw;
  }
  .parrafoGris {
    text-align: center;
    width: 90%;
  }
  .playLogo {
    width: 30vw;
  }
  .imgZonaCeleste {
    height: 20vw;
  }
}

@media (max-width: 767px) {
  /* Zona Purple */
  .imgZonaPurple {
    content: url("./src/home_page/media/Play-Sections/purple.crop16x9.767w.jpg");
    height: 106vw;
    object-fit: cover;
    object-position: 0% 0%;
  }
  .imagenFormula1 {
    content: url("/src/home_page/media/Play-Sections/f124-16x9.767w.png");
    width: auto;
  }
  .formula1-contenido {
    margin-top: 55%;
    margin-left: 0;
    width: 80%;
  }
  .ParrafoAcercate {
    font-size: 36px;
  }
  .textoAcercate {
    line-height: 1.7rem;
    margin-bottom: 10px;
    font-size: 16px;
  }

  /* Zona Gris */
  .imgZonaGris {
    height: 30vw;
  }
  .parrafoGris {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 2.5rem;
  }

  /* Zona Roja */
  .imgZonaRoja {
    width: 100%;
    content: url("/src/home_page/media/Play-Sections/recuadros3x5.767w.jpg");
    height: 165vw;
    object-fit: cover;
    object-position: 0% 0%;
  }
  .imgZonaRojaGradient {
    visibility: hidden;
    height: 165vw;
  }
  .playLogo {
    width: 35vw;
  }
  .play-container {
    max-width: 90%;
  }
  /*zona celeste*/
  .imgZonaCeleste {
    height: 30vw;
  }
  .parrafoCeleste {
    width: 90%;
    text-align: center;
    font-size: 24px;
  }
}

@media (max-width: 639px) {
  /*Buttons*/
  .playButtonH {
    width: 85vw;
  }
  .playButtonF {
    width: 90vw;
  }
  .playButtonFWhite {
    width: 85vw;
  }

  /* Zona purple */
  .imgZonaPurple {
    height: 115vw;
  }
  .formula1-contenido {
    width: 90%;
  }

  /* Zona Roja */
  .imgZonaRoja {
    width: 100%;
    content: url("/src/home_page/media/Play-Sections/recuadros3x5.767w.jpg");
    height: 165vw;
    object-fit: cover;
    object-position: 0% 0%;
  }
  .imgZonaRojaGradient {
    visibility: hidden;
    height: 165vw;
  }
  .playLogo {
    width: 35vw;
  }
  .play-container {
    margin-left: 7%;
    margin-right: 0;
    width: 100%;
  }
  .parrafoPlay {
    max-width: 90%;
    line-height: 1.5rem;
  }
}

@media (max-width: 600px) {
  .imgZonaPurple {
    height: 120vw;
  }
  .formula1-contenido {
    width: 85%;
  }
  .playLogo {
    width: 40vw;
  }
  .parrafoPlay {
    max-width: 95%;
  }
  .parrafoGris {
    line-height: 2rem;
  }
}

@media (max-width: 580px) {
  .imgZonaGris {
    content: url("/src/home_page/media/Play-Sections/gris.jpg.adapt.320w.jpg");
    height: 35vw;
  }
  .playLogo {
    width: 43vw;
  }
  .parrafoCeleste {
    font-size: 22px;
    width: 85%;
  }
  .imgZonaCeleste {
    height: 33vw;
  }
}

@media (max-width: 565px) {
  .imgZonaPurple {
    height: 128vw;
  }
  .imagenFormula1 {
    width: 85vw;
  }
  .ParrafoAcercate {
    font-size: 34px;
  }
  .textoAcercate {
    line-height: 1.5rem;
    margin-bottom: 0;
  }
  .imgZonaGris {
    height: 37vw;
  }
  .parrafoGris {
    margin-bottom: 0;
  }
}
@media (max-width: 510px) {
  .imgZonaPurple {
    height: 140vw;
  }
  .imgZonaCeleste {
    height: 38vw;
  }
}

@media (max-width: 480px) {
  .imgZonaPurple {
    height: 145vw;
  }
  .imgZonaGris {
    height: 40vw;
  }
  .play-container {
    margin-top: -3%;
  }
  .playLogo {
    width: 50vw;
  }
}
@media (max-width: 440px) {
  .imgZonaGris {
    height: 50vw;
  }
}
@media (max-width: 426px) {
  .imgZonaPurple {
    height: 158vw;
  }
  .playLogo {
    width: 55vw;
  }
  .imgZonaCeleste {
    height: 45vw;
  }
  .imgZonaGris {
    height: 55vw;
  }
}
@media (max-width: 400px) {
  .playButtonH {
    width: 85vw;
  }
  .playButtonF {
    width: 85vw;
  }
  .playButtonFWhite {
    width: 85vw;
  }
  .imgZonaPurple {
    height: 165vw;
  }
}
@media (max-width: 380px) {
  .playLogo {
    width: 65vw;
  }
  .imgZonaPurple {
    height: 165vw;
  }
  .imgZonaCeleste {
    height: 55vw;
  }
}
@media (max-width: 340px) {
  .imgZonaPurple {
    height: 175vw;
  }
  .imagenFormula1 {
    width: 80vw;
  }
  .imgZonaGris {
    height: 65vw;
  }
  .playLogo {
    width: 70vw;
  }
}
@media (max-width: 320px) {
  .imgZonaPurple {
    height: 190vw;
  }
  .playLogo {
    width: 75vw;
  }
  .imgZonaGris {
    height: 70vw;
  }
}
@media (max-width: 300px) {
  .imgZonaCeleste {
    height: 75vw;
  }
  .imgZonaPurple {
    height: 100%;
  }
  .ParrafoAcercate {
    font-size: 30px;
  }
  .textoAcercate {
    font-size: 12px;
  }
  .imgZonaGris {
    height: 100%;
  }
  .imgZonaCeleste {
    height: 100vw;
  }
}
@media (max-width: 250px) {
  .imgZonaPurple {
    height: 250vw;
  }
  .ParrafoAcercate {
    font-size: 24px;
    line-height: 2rem;
  }
  .parrafoGris {
    font-size: 18px;
  }
}
@media (max-width: 200px) {
  .imgZonaPurple {
    height: 290vw;
  }
  .textoAcercate {
    line-height: 1.1rem;
  }
  .imgZonaGris {
    height: 150vw;
  }
  .imgZonaCeleste {
    height: 150vw;
  }
  .imgZonaRoja {
    height: 210vw;
  }
  .imgZonaRojaGradient {
    height: 210vw;
  }
  .parrafoPlay {
    font-size: 12px;
    line-height: 1.3rem;
  }
  .playButtonH {
    font-size: 12px;
  }
  .playButtonF {
    font-size: 12px;
  }
  .playButtonFWhite {
    font-size: 12px;
  }
}
